name: python

on:
  pull_request:
    paths:
      - 'python/**'
      - .github/workflows/python.yml

defaults:
  run:
    working-directory: python

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Check-out repository
        uses: actions/checkout@v6

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v5
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry  # increment to reset cache

      - name: Install poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          version: 1.3.2

      - name: Restore cached dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install package
        run: poetry install

      - name: Lint
        run: make lint

      - name: run simple proto pipeline with direct runner
        run: poetry run python streaming_wordcount_proto.py --runner directrunner

      # - name: Test with pytest
      #   run: make test

      # - name: Use Codecov to track coverage
      #   uses: codecov/codecov-action@v3
      #   with:
      #     files: ./coverage.xml
